
.root-containt {
	primary: #c2185b;
    primary-light: #f95688;
	primary-dark: #8b0032;
	secondary: #ef9a9a;
	secondary-light: #ffcccb;
	secondary-dark: #ba6b6c;
	-fx-background-color: white;
	-fx-spacing: 2px;
	-fx-background-color:
linear-gradient(from 10px 20px to -10px 80px, secondary-dark, primary, #f95688 80%, white)
}

.icon-button {
	-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-size:  stretch;
	-fx-cursor: hand;
}


#back-button {

	-fx-background-image: 
url(../icons/arrow_back_white.png);


}



#confirm-button {

	-fx-background-color: transparent;
	-fx-text-fill: #f95688;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-font-size: 18px;
}


#add-photo-icon {

	-fx-background-image: 
url(../icons/add_a_photo.png);
	
}


#image-view {

	-fx-cursor: hand;
}

.image-container {


}

.name-container {

	-fx-spacing: 5px;
}

#name-input {

	-fx-background-color: transparent;
	-fx-font-size: 14px;
}


#name-input:focused{

	-fx-border-width: 0 0 2px 0;
	-fx-border-color: black;
}



#name-label {

	-fx-font-weight: bold;
	-fx-font-size: 16px;

}

#edit-icon {

	-fx-background-image:
url(../icons/edit_black.png);

-fx-background-color: transparent;
	-fx-background-repeat: no-repeat;
	-fx-background-size:  stretch;

}


#confirm-container {


	-fx-padding: 0 5px 3px 0;
}